.row {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.row__header {
  text-align: center;
  margin-top: 5vh;
}

.row__header h1,
p {
  margin: 0px;
  padding: 0px;
}

.red-text {
  color: #e50914;
}

.row__date {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.row__timeslots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row__timeslots .booked {
  background-color: #e50914;
}

.row__item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 1rem;
  place-items: center;
}

.row__timeslots button {
  display: inline-block;
  width: 100%;
  padding: 1.5vw 25vw;
  font-weight: 700;
  background-color: #002240;
  box-shadow: none;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
}
